.hero {
  width: 100%;
  background-image: url("../assets/mobile/mobileVer2.png");
  aspect-ratio: 375/377;
  background-size: contain;
  position: relative;
  .sub-image {
    position: absolute;
    width: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    // position: absolute;
    // z-index: -1;
    // background-image: url("../assets/web/webVer.png");
    // width: 100%;
    // aspect-ratio: 1440/790;
    // .sub-image {
    display: none;
    // }
  }
} ;
